services:
  app:
    build: .
    container_name: bhhv_app
    restart: always
    ports:
      - "3010:3000"
    env_file:
      - .env.production
    environment:
      - NODE_ENV=development
      - LOG_LEVEL=debug
      - TZ=Asia/Ho_Chi_Minh
      - MONGODB_URI=mongodb://admin:MongoPass123!@shared_mongodb:27017/bhhv_prod?authSource=admin
      - CAR_BRANDS_PATH=/data/car_brands
    networks:
      - db_network
      - traefik-network
    volumes:
      - ./scripts:/app/scripts
      - ./db_json/car_brands:/data/car_brands
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bhhv.rule=Host(`bhhv.minhtn.space`)"
      - "traefik.http.routers.bhhv.entrypoints=websecure"
      - "traefik.http.routers.bhhv.tls.certresolver=letsencrypt"
      - "traefik.http.services.bhhv.loadbalancer.server.port=3000"
      - "traefik.docker.network=traefik-network"

networks:
  db_network:
    external: true
  traefik-network:
    external: true
